.play_ul{
    background: none;
    }
 .play_tab td, th{
    padding: 15px 5px;
    display: table-cell;
    text-align: left;
    vertical-align: middle;
    border-radius: 2px;
}
.play_tab{
    margin-top: 30px;
}
.play_cj{
    margin:45px auto;
    width: 200px;

   
  
    
}
.sign_row{
    width:640px;
    margin-top: 50px;
    }
.sign_row p{
    margin-top: 30px!important;
    
}
.sign_col{
    margin:0 auto;
    width:640px!important;
}