.play_ul{
    background: none;
    }
 .play_tab td, th{
    padding: 15px 5px;
    display: table-cell;
    text-align: left;
    vertical-align: middle;
    border-radius: 2px;
}
.play_tab{
    margin-top: 30px;
}
.play_cj{
    margin:45px auto;
    width: 200px;
}
.style tr{
    line-height: 50px;
}
.check{
    position: absolute;
    left:170px;
    top: 6px;
}
.challenge{
    background: #EE7600!important;
}
.inthegame{
    background: #F44336!important;
    color:#fff!important;
}
.consent{
    height: 38px!important;
    line-height: 38px!important;

}
.turndown{
    height: 38px!important;
    line-height: 38px!important;
    background: #F44336 !important;
}
.underway{
    background: #F44336 !important;
}
.await{
    background: #B8860B !important;
}
.awaygame{
    background: #EE7600!important;
}
.finish{
    background: #EE0000!important;
}
.time-item strong {
    
        background:#26a69a;
    
        color:#fff;
    
        line-height:49px;
    
        font-size:20px;
    
        font-family:Arial;
    
        padding:0 10px;
    
        margin-right:10px;
    
        border-radius:5px;
    
        box-shadow:1px 1px 3px rgba(0,0,0,0.2);
    
    }
    
    .day_show {
    
        float:left;
    
        line-height:49px;
    
        color:#fff;
    
        font-size:20px;
    
        margin:0 10px;
    
    
    }
    
    .item-title .unit {
    
        background:none;
    
        line-height:49px;
    
        font-size:20px;
    
        padding:0 10px;
    
        float:left;
    
    }
.card-panel {
    background: #333;
    
    color: #26a69a;
    text-align:center;
}
    
    
