<!doctype html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>Document</title>
</head>

<body>

	<form action="http://localhost:3001/charge" method="post">
		<script src='https://checkout.stripe.com/checkout.js' 
		class='stripe-button' 
		data-key='pk_live_xXGeuc5byKCm3RkS7sX26hHQ' 
<<<<<<< HEAD
		data-amount='1000'
=======
		data-amount='NaN'
>>>>>>> 5500632a1f54def3d62805805bcba64159241f43
		data-name="Bullup.Inc" 
		{{!-- data-description='just a test'  --}}
		data-image="https://stripe.com/img/documentation/checkout/marketplace.png"
		data-currency='usd'>

		</script>
<<<<<<< HEAD
		<input type="hidden" name="chargeAmount" value="1000">
		<input type="hidden" name="userName" value="104">
=======
		<input type="hidden" name="chargeAmount" value="NaN">
		<input type="hidden" name="userName" value="userNameValue">
>>>>>>> 5500632a1f54def3d62805805bcba64159241f43
	</form> 

</body>

</html>