<div class="row">
	<div class="col s12 m4">
		<ul class="collapsible" id="my_collapsible" data-collapsible="expandable">
			{% if my_team %}
				{% for parti in my_team.participants %}
					<li>
					<div class="collapsible-header left-align">
						<img src="./media/imgs/timg-2.jpeg" class="candi-img"> {{ parti.name }}
					</div>
					<div class="collapsible-body">
					<span>
					发育 {{ parti.strength.growth }}
					KDA {{ parti.strength.kda }}
					金钱 {{ parti.strength.averageGoldEarned }}
					推塔 {{ parti.strength.averageTurretsKilled }}
					生存 {{ parti.strength.averageLiving }}
					承受伤害 {{ parti.strength.averageDamageTaken }}
					</span>
					</div>
				</li>
				{% endfor %}
			{% endif %}
		</ul>
	</div>

	<div class="col s12 m4 center-info">
		<div class="countdown-name"></div>
		<div class="countdown-clock"></div>
		
		<canvas id="teams-radar-chart"></canvas>
	</div>
	
	<div class="col s12 m4">
		<ul class="collapsible" id="component_collapsible" data-collapsible="expandable">
		{% if compo_team %}
				{% for parti in compo_team.participants %}
					<li>
					<div class="collapsible-header left-align">
						<img src="./media/imgs/timg-2.jpeg" class="candi-img"> {{ parti.name }}
					</div>
					<div class="collapsible-body">
					<span>
					发育 {{ parti.strength.growth }}
					KDA {{ parti.strength.kda }}
					金钱 {{ parti.strength.averageGoldEarned }}
					推塔 {{ parti.strength.averageTurretsKilled }}
					生存 {{ parti.strength.averageLiving }}
					承受伤害 {{ parti.strength.averageDamageTaken }}
					</span>
					</div>
				</li>
				{% endfor %}
			{% endif %}
		</ul>
	</div>
</div>