<div class="row">
	<div class="col s12 m4">
		<ul class="collapsible" id="my_collapsible" data-collapsible="expandable">
			{% if blueSide %}
				{% for player in blueSide.participants %}
					<li>
					<div class="collapsible-header left-align">
						<img src="./media/user_icon/{{ player.avatarId }}.png" class="candi-img"> {{ player.name }}
					</div>
					<div class="collapsible-body">
					<span>
						战力 {{ player.strength.score }}
						KDA {{ player.strength.kda }}
						伤害 {{ player.strength.averageDamage }}
						承受伤害 {{ player.strength.averageDamageTaken }}
						金钱 {{ player.strength.averageGoldEarned }}
						推塔 {{ player.strength.averageTurretsKilled }}
					</span>
					</div>
				</li>
				{% endfor %}
			{% endif %}
		</ul>
	</div>

	<div class="col s12 m4 center-info">
		<div class="countdown-name"></div>
		<div class="countdown-clock"></div>
		
		<canvas id="teams-radar-chart"></canvas>
	</div>
	
	<div class="col s12 m4">
		<ul class="collapsible" id="component_collapsible" data-collapsible="expandable">
		{% if redSide %}
			{% for player in redSide.participants %}
					<li>
					<div class="collapsible-header left-align">
						<img src="./media/user_icon/{{ player.avatarId }}.png" class="candi-img"> {{ player.name }}
					</div>
					<div class="collapsible-body">
					<span>
						战力 {{ player.strength.score }}
						KDA {{ player.strength.kda }}
						伤害 {{ player.strength.averageDamage }}
						承受伤害 {{ player.strength.averageDamageTaken }}
						金钱 {{ player.strength.averageGoldEarned }}
						推塔 {{ player.strength.averageTurretsKilled }}
					</span>
					</div>
				</li>
				{% endfor %}
			{% endif %}
		</ul>
	</div>
</div>

