
<div class="row">
  <!-- button will fade away -->
  <a class="nav-link waves-effect waves-light btn right" id="refresh_formed_battle_room">刷新房间</a>
</div>

{% if teams %}
  <!-- cycle through two teams, put  -->
  {% for team in teams %}
	<!-- For the first team -->
	{% if loop.index % 3 == 1 %}
	  <div class="row">
    {% endif %}
    <div class="col s12 m6 l4">
      <div class="card battle-card grey darken-2">
        <div class="card-content white-text">
          <div class="row">
            <!-- teaser -->
            <div class="col s2">
              <img class="battle-teaser" src="./media/user_icon/{{ team.captain.avatarId }}.png">
            </div>
            <div class="col s10">
              <div class="row">
                <span class="card-title right">
				  {{team.roomName}}
				</span>
                <div class="chip right ">
                  {{ team.participantCount }}V{{ team.participantCount }}
                </div>
              </div>
            </div>
          </div>
          <!-- first row -->
        </div>

        <div class="card-action">
					<a class="team_detail_btn" id="{{ team.roomName }}_team_detail_btn" href="#team-detail-modal">详情</a>
					<!-- <a id="battle_team_details_btn">详情</a> -->
          <a href="#">收藏</a>

          <div class="chip right">
            <i class="fa fa-gamepad" aria-hidden="true"></i>{% if team.winningCondition=='push-crystal' %}推掉水晶{% endif %}
          </div>
          <div class="chip right">
            <i class="fa fa-money" aria-hidden="true"></i> {{ team.rewardAmount }}
          </div>
        </div>
      </div>
    </div>
    {% if loop.index % 3 == 0 %}
	  </div>
	{% endif %}
	{% if loop.index % 3 != 0 and loop.revindex == 1 %}
</div>
	{% endif %}
  {% endfor %}
{% endif %}


<div class="row center-align" id="pagination-holder">
</div>

<!-- {% if teams %} -->
<!-- cycle through two teams, put  -->
<!-- {% for team in teams %} -->
<!-- team detail modal Structure -->
<!-- <div id="{{ team.roomName }}_team-detail-modal" name="{{ team.roomName }}_team-detail-modal-name" class="modal"> -->
<div id="team-detail-modal" class="modal">
		<!-- <div id="team-detail-modal" class="modal"> -->
	<div class="modal-content">
	<div class="row">
	  <!-- Where Details go -->
	  <!-- <div class="col s12 m2" id ="{{ team.roomName }}_team_detail_container"> -->
		<div class="col s12 m2" id ="team_detail_container">
			<!-- team details -->

	  </div>
	  <!-- End of Details -->
	  <div class="col s12 m9">
		<!--  Radar Chart of two teams                  -->
		<canvas id="team-detail-chart" style="margin-left:50px;"></canvas>
		
	  </div>
	</div>
  </div>
  <div class="modal-footer">

	<a style="background: #26a69a;color: #fff;" href="#waiting-modal" class="modal-action waves-effect waves-green btn-flat" id="invite-battle-btn">邀请战斗</a>
	<!-- <a class="waves-effect waves-light btn" style="float:left;">返回</a> -->
	
  </div>
</div>

<!-- Modal Structure -->
<div id="waiting-modal" class="modal">
  <div class="modal-content">
	<h4>等待对方队长应答</h4>
	<!--            preloader-->
	<div class="row center">
	  <div class="preloader-wrapper big active">
		<div class="spinner-layer spinner-blue">
		  <div class="circle-clipper left">
			<div class="circle"></div>
		  </div>
		  <div class="gap-patch">
			<div class="circle"></div>
		  </div>
		  <div class="circle-clipper right">
			<div class="circle"></div>
		  </div>
		</div>

		<div class="spinner-layer spinner-red">
		  <div class="circle-clipper left">
			<div class="circle"></div>
		  </div>
		  <div class="gap-patch">
			<div class="circle"></div>
		  </div>
		  <div class="circle-clipper right">
			<div class="circle"></div>
		  </div>
		</div>

		<div class="spinner-layer spinner-yellow">
		  <div class="circle-clipper left">
			<div class="circle"></div>
		  </div>
		  <div class="gap-patch">
			<div class="circle"></div>
		  </div>
		  <div class="circle-clipper right">
			<div class="circle"></div>
		  </div>
		</div>

		<div class="spinner-layer spinner-green">
		  <div class="circle-clipper left">
			<div class="circle"></div>
		  </div>
		  <div class="gap-patch">
			<div class="circle"></div>
		  </div>
		  <div class="circle-clipper right">
			<div class="circle"></div>
		  </div>
		</div>
	  </div>
	</div>
  </div>
  <div class="modal-footer">
	<a href="./spa_fight.html" class="modal-action waves-effect waves-green btn-flat nav-link" id="hide-btn">隐藏到后台</a>
  </div>
</div>
<!-- {% endfor %}
{% endif %}-->

<script>
  window.chartColors = {
    red: 'rgb(255, 99, 132)',
    orange: 'rgb(255, 159, 64)',
    yellow: 'rgb(255, 205, 86)',
    green: 'rgb(75, 192, 192)',
    blue: 'rgb(54, 162, 235)',
    purple: 'rgb(153, 102, 255)',
    grey: 'rgb(201, 203, 207)'
};

var chartColors = window.chartColors;
var color = Chart.helpers.color;
var arr;
function setData (data) {
    arr = data;
}
var $a =  $('#a1').val();
console.log($a);
var json = {
     name1:250,
     name2:250,
     name3:250,
     name4:250,
     name5:250,
     name6:250
}
setData([json.name1,json.name2,json.name3,json.name4,json.name5,json.name6]);
var config3 = {
        type: 'radar',
        data: {
            labels: ['击杀', '死亡', '助攻','治疗', '造成伤害', '承受伤害'],
            datasets: [{
                label: "能力雷达图",
                backgroundColor: color(window.chartColors.red).alpha(0.2).rgbString(),
                borderColor: window.chartColors.red,
                pointBackgroundColor: chartColors.red,
                data: arr
            }, ]
        },
        options: {
            title: {
                display: true,
                text: '能力'
            },
            scale: {
                ticks: {
                    beginAtZero: true
                }
            }
        }
    };

    var arr = config3.data.datasets[0]; 
    console.log(arr.data);
var radar = document.getElementById("team-detail-chart");
window.myRadar = new Chart(radar, config3);
  
</script>
