<div class="container">
  <div class="user_rank row">
	<div class="col s4">
	  <label class="rank-title">
		个人排名
	  </label>
	</div>
	
	<div class="col s4">
	  <label class="rank-title">财富排名</label>
	  <div class="rank-value">
		<!-- 财富排名 -->
		123
	  </div>
	</div>

	<div class="col s4">
	  <label class="rank-title">战斗力排名</label>
	  <div class="rank-value">
		<!-- 战斗力排名 -->
		123
	  </div>
	</div>
  </div>
  
  <div class="col s12">
    <ul class="tabs tabs-fixed-width">
      <li class="tab col s3"><a class="active" href="#wealth_list">财富排行</a></li>
      <li class="tab col s3"><a href="#cap_list">战斗力排行</a></li>
    </ul>
  </div>
  <div id="wealth_list" class="col s12">
    {% if wealthRankList %}
	  <ul class="collection">
		{% for player in wealthRankList %}
		  <li class="collection-item avatar">
			<img src="./media/user_icon/{{ player.icon_id }}.png" alt="" class="circle">
			<span class="title">{{ player.user_nickname }}</span>
			<p>{{ player.user_wealth }}
			</p>
			<div class="secondary-content rank-number right">{{loop.index}}</div>
		  </li>
		{% endfor %}
	  </ul>
	{% else %}
	  <h5>排行榜加载错误，请稍后重试</h5>
	{% endif %}

  </div>

  <div id="cap_list" class="col s12">
	{% if strengthRankList %}
	  <ul class="collection">
		{% for player in strengthRankList %}
		  <li class="collection-item avatar">
			<img src="./media/user_icon/{{ player.icon_id }}.png" alt="" class="circle">
			<span class="title">{{ player.user_nickname }}</span>
			<p>{{ player.user_strength }}
			</p>
			<div class="secondary-content rank-number right">{{loop.index}}</div>
		  </li>
		{% endfor %}
	  </ul>
	{% else %}
	  <h5>排行榜加载错误，请稍后重试</h5>
	{% endif %}

  </div>
</div>
