<div class="row">
  
  <div class="col s12 m12">
	<div class="carousel carousel-slider center" data-indicators="true" id="starter-carousel">
	  <div class="carousel-item red white-text" href="#two!" id="test_carousel_1">
		<h2>Arcade 2017 Overview</h2>
		<p class="white-text">This is your second panel</p>
	  </div>
	  <div class="carousel-item amber white-text" href="#two!" id="test_carousel_2">
		<h2>Second Panel</h2>
		<p class="white-text">This is your second panel</p>
	  </div>
	  <div class="carousel-item green white-text" href="#three!" id="test_carousel_3">
		<h2>Third Panel</h2>
		<p class="white-text">This is your third panel</p>
	  </div>
	  <div class="carousel-item blue white-text" href="#four!" id="test_carousel_4">
		<h2>Fourth Panel</h2>
		<p class="white-text">This is your fourth panel</p>
	  </div>
	</div>
  </div>

</div><!-- row -->

<div class="row center-align starter-btns-holder">
  <a href="#fight-bet-modal" class="starter-btn waves-effect" id="starter-fight-btn">约战</a>
  <a href="#match-bet-modal" class="starter-btn waves-effect" id="starter-match-btn">匹配</a>
  <a class="starter-btn waves-effect" id="starter-personal-btn   ">个人中心</a>
  <a class="starter-btn waves-effect" id="starter-chatroom-btn">聊天室</a>
</div>

<div class="row">
  <div class="col s4">
	<div class="carousel carousel-slider center video-carousel" data-indicators="true">
	  <div class="carousel-fixed-item center">
		<a class="btn waves-effect white grey-text darken-text-2">视频中心</a>
	  </div>
	  <div class="carousel-item red white-text" href="#one!">
		<h2>First Panel</h2>
		<p class="white-text">This is your first panel</p>
	  </div>
	  <div class="carousel-item amber white-text" href="#two!">
		<h2>Second Panel</h2>
		<p class="white-text">This is your second panel</p>
	  </div>
	  <div class="carousel-item green white-text" href="#three!">
		<h2>Third Panel</h2>
		<p class="white-text">This is your third panel</p>
	  </div>
	</div>
  </div>

  <div class="col s4 starter-tournament-holder">
	<!-- tournament -->
	{% if tournaments %}
	  {% for tournament in tournaments %}
		<!-- tournament card -->
		<div class="card horizontal starter-tournament-card">
		  <div class="card-image">
			<img src="/media/imgs/trophy.jpg" class="starter-tournament-image">
		  </div>
		  <div class="card-stacked">
			<div class="card-content">
			  <h5>{{ tournament.name }}</h5>
			  <p>{{ tournament.description }}</p>
			</div>
			<div class="card-action">
			  <a href="#">加入</a>
			</div>
		  </div>
		</div><!-- tournament card -->
	  {% endfor %}
	{% endif %}
	<div class="more">
	  <a href="">more>></a>
	</div>
  </div><!-- tournament-holder -->
  
  <div class="col s4 starter-collection-holder">
	<!-- Text View -->
	<div class="collection news-collection">
	  {% if news %}
		{% for n in news %}
		  <a class="collection-item">{{ n.title }}</a>
		{% endfor %}
	  {% endif %}
	</div>

	<div class="more">
	  <a href="">more>></a>
	</div>
  </div>
  
</div>
